<h1>Message List</h1>

<ul class="list-group messages">
  <%= render @messages %>
</ul>

<div class="form-inline">
<div class="form-group">
	<%= form_for [@room,Message.new] do |f| %>
		<%= f.text_field :content, class: 'form-control' %>
		<%= f.text_field :username, class: 'form-control' %>
		<%= f.submit 'Send', class: 'btn btn-primary' %>
	<% end %>
</div>
</div>
<script>
// setInterval(updateMessagesViaJSON,3000)
setInterval(updateMessagesViaJS,3000)
// $.getScript('messages.js');
</script>
